<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/tallPulpRockers/public/assets/css/name.css" type="text/css" />
		<title>You...Your....Yo...Yoga!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/tallPulpRockers/public/assets/js/name.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
