<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout"> Logout </a>
    </div>
  </div>
</nav>

<h1>Yo-Yo-Yoga!</h1>
<form class="create-form">
  <div class="form-group">
    <input type="text" id="ca" name="name" placeholder="Asana" />
  </div>
  <button type="submit">Postures</button>
</form>

<div class="jumbotron" style="height: 50vh">
  <div class="container" id="main">
    <img
      class="pic"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQWmtmir5AB632VFbwsWy092XxnJjxTBP9iCQ&usqp=CAU"
    />
  </div>
</div>

<nav class="navbar navbar-light bg-light" style="float: left">
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>

<div class="btn-group" style="float: initial">
  <button
    type="button"
    class="btn btn-primary dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Advanced
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<div class="btn-group" style="float: left">
  <button
    type="button"
    class="btn btn-info dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Easy
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<div class="btn-group" style="float: left">
  <button
    type="button"
    class="btn btn-danger dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Intermediate
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

<button type="button" class="btn btn-secondary" style="justify-content: center">
  Secondary
</button>

<br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="container">
  <div class="row justify-content-start">
    <div
      class="col-md-6"
      style="
        border: 2px solid black;
        height: 400px;
        margin: 10px, 50px, 10px, 10px;
        column-gap: 40px;
      "
    >
      BOX 1 AT BOTTOM
    </div>
    <div
      class="col-md-6"
      style="
        border: 2px solid black;
        height: 400px;
        margin: 10px, 10px, 10px, 50px;
        column-gap: 40px;
      "
    >
      BOX 2 AT BOTTOM
    </div>
  </div>
</div>
