form.signup,
form.login {
  margin-top: 50px;
}
#page{
  background-color: burlywood;
}

h1{
  font-size: medium;
  text-align: center;
}

.button-group{
  margin-left: auto;
}

.pic{
  width: 100%;
  height: 265px;
  margin-top: -30px;
}


