form.signup,
form.login {
  margin-top: 50px;
}
body{
  background-color: grey;
  color: white;
}

#maincontainer {
  background-image: url(../img/backgroundimg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  opacity: .5;
  width:100%;
  height:100%;
}
