body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 35px;
    color: rgb(174, 174, 184);
    background-color: #ededf5;
  }
  span.poses, p {
    float: right;
    text-align: right;
    margin: 0px 25px 0px;
    color: #f3f3f7;
    font: 26px "Fira Sans", serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif, Geneva, Tahoma, sans-serif, cursive;
  }
  
  ul {
    background: #cecfdb;
    list-style-type: decimal-leading-zero;
  }
  
  input[type="radio"] {
    -webkit-appearance: none;
    list-style-type: decimal-leading-zero;
  }
  
  h1.title {
    height: 150px;
    line-height: 125px;
    color: #f0f2f5;
    background: #888a8d;
    border-bottom: 3px solid #ccc;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 0px;
    font-size: 50px;
    padding-right: 180px;
  }
  
  h2 {
    padding-bottom: 12px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    margin: 0px;
    color: #f7f8fd;
    background: #777777;
    border-bottom: 4px solid #ccc;
  }
  
  li {
    padding: 5px;
    background: #faebd7;
  }
  
  ul {
    background: #faebd7;
  }
  
  label {
    padding: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .form-group {
    margin-bottom: 5px;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  button[type=submit] {
    display: block;
    width: 100%;
    text-align: center;
  }
  
  button[type=submit] {
    padding: 10px 30px;
    font: 30px "Fira Sans", serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, cursive;
    color: #fff;
    cursor: pointer;
    background: #6a696d;
    border: 0 none;
  }
  
  center {
    padding: 10px;
  }
  
  button {
    width: 100%;
    text-align: center;
    color: #777799;
    font: 30px "Fira Sans", serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive;
    padding: 12px 5px 0px;
  }
  